@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Luckiest+Guy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

@layer components {
  h1 {
    @apply text-2xl;
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: -0.15em;
  }

  p {
    font-family: 'Gabarito', sans-serif;
  }
}

body {

}