.topSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    text-align: center;
    padding: 0 24px;
    flex-direction: column;
}

.summaryContainer {
    margin-top: 32px;
}

.summaryContainer > div {
    background-color: var(--primaryDark3);
    padding: 12px;
    border-radius: 8px;
}

.suggestionGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

@media screen and (max-width: 1000px) {
    .suggestionGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.suggestionContainer {
    height: 100%;
    display: flex;
}

.suggestionBackgroundImage {
    opacity: 0.3;
    filter: blur(4px);
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.suggestionContent {
    margin-left: -100%;
    width: calc(100% - 24px);
    padding: 16px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    z-index: 2;
}

.contentFooter {
    display: flex;
    gap: 24px;
    margin-top: 24px;
    align-items: end;
}

.suggestionStats {
    display: flex;
    gap: 12px;
}

@media (prefers-color-scheme: dark) {
    .suggestionStats {
        background-color: hsla(0, 0%, 10%, 0.6);
        border-radius: 8px;
        padding: 4px;
    }
}

.moreButton {
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    margin-left: auto;
}

@media (prefers-color-scheme: dark) {
    .moreButton {
        background-color: hsla(0, 0%, 10%, 0.6);
    }

    .moreButton:hover {
        background-color: hsla(0, 0%, 10%, 1);
    }
}


.suggestionStatContainer {
    display: flex;
    gap: 4px;
    align-items: center;
}

.suggestionStatContainer > h6 {
    margin-right: 6px;
}

.upvote_symbol {
    color: green;
}

.downvote_symbol {
    color: red;
}

.ratio_symbol {
    color: var(--shade2);
}

.suggestionDialog {
    padding: 16px;
    margin: 0px auto;
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    background-color: transparent;
    display: flex;
}

.hideSuggestionDialog {
    display: none;
}

.dialogBackgroundImage {
    height: 100%;
    width: 100%;
    opacity: 0.2;
    filter: blur(8px);
    z-index: 2;
}

.dialogBackgroundColor {
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: var(--shade2);
    /* filter: blur(16px); */
    border-radius: 8px;
    margin-left: -100%;
    z-index: 1;
}

@media (prefers-color-scheme: dark) {
    .dialogBackgroundColor {
        background-color: var(--shade7);
    }
}

.dialogHeader {
    display: flex;
}

.dialogHeader > div > h5 {
    margin-top: 4px;
}

.dialogContent {
    padding: 32px;
    margin-left: -100%;
    width: calc(100% - 64px);
    z-index: 3;
    overflow-y: scroll;
}

@media screen and (max-width: 700px) {
    .dialogContent {
        padding: 16px;
        padding-right: 4px;
        width: calc(100% - 20px);
    }
}

.dialogHeader > .menuClose {
    margin-left: auto;
}

.dialogSuggestionStats {
    display: inline-flex;
    margin-top: 8px;
}

.dialogMain {
    padding: 16px 0;
}