:root {
    --loadingColorMain: hsl(61, 100%, 50%);
    --loadingColorFaded: hsl(61, 71%, 35%);
    --statusReady: hsl(103, 81%, 49%);
    --statusError: hsl(0, 81%, 49%);
}

.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    height: 26px; 
    font-size: 20px;
    cursor: pointer;
}

.monoHighlight {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 80%;
    padding: 0 2px;
    background-color: var(--primaryDark2b);
    border-radius: 4px;
}

.ecosimMain {
    margin: 0 auto;
    padding: 16px;
    max-width: 2000px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: calc(100vh - 32px);
}

.menuBar {
    border-radius: 8px;
    overflow: hidden;
}

.menuBarContent {
    background-color: var(--primaryLight3);
    @media (prefers-color-scheme: dark) {
        background-color: var(--primaryDark3);
    };
    border-radius: 8px;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menuBarButton {
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.25s;
}

.menuBarButton:hover {
    background-color: rgba(0, 0, 0, 0.15);
    @media (prefers-color-scheme: dark) {
        background-color: rgba(255, 255, 255, 0.15);
    };
    transition: 0.25s;
}

.simStatusContainer {
    margin-left: auto;
    margin-right: 6px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.statusLight {
    background-color: var(--shade4);
    height: 15px; aspect-ratio: 1;
    border-radius: 7.5px;
}

.loadingLight {
    background-color: var(--loadingColorFaded);
    animation: loadingAnimation 1s infinite;
}

@keyframes loadingAnimation {
    0% {background-color: var(--loadingColorFaded);}
    50% {background-color: var(--loadingColorMain);}
    100% {background-color: var(--loadingColorFaded);}
}

.readyLight {
    background-color: var(--statusReady);
}

.errorLight {
    background-color: var(--statusError);
}

.loadingBarContainer {
    height: 0px;
}

.loadingBar {
    position: relative;
    top: -2px;
    height: 2px;
    width: 0%;
    background-color: var(--primaryLight1);
    transition: 0.25s;
}

.mainContent {
    margin-top: 8px;
    gap: 8px;
    display: grid;
    grid-template-columns: 1fr calc(300px + 5vw);
}

.configureSim {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--primaryLight3);
    @media (prefers-color-scheme: dark) {
        background-color: var(--primaryDark3);
    };
    border-radius: 8px;
}

.simOutputContainer {
    background-color: var(--primaryLight3);
    @media (prefers-color-scheme: dark) {
        background-color: var(--primaryDark3);
    };
    border-radius: 8px;
    padding: 8px;
    overflow-x: scroll;
}

.simSettingsList {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 4px;
}

.simSetting {
    display: flex;
    align-items: center;
}

.settingInput {
    /* margin-left: auto; */
}

.dollar::before {
    
}

input.settingInput {
    width: 100px;
}

.farmTitleContainer {
    display: flex;
}

.farmMainButtonContainer {
    margin-left: auto;
}

.farmMainButtonContainer > * {
    height: 24px; aspect-ratio: 1;
    background-color: var(--primaryDark2);
    border-radius: 50px;
    align-items: center; justify-content: center;
    font-size: 24px;
    display: flex;
    cursor: pointer;
}

.farmButtonContainer {
    margin-left: auto;
    display: flex;
    gap: 4px;
}

.farmButtonContainer > * {
    width: 28px; aspect-ratio: 1;
    background-color: var(--primaryDark2b);
    border-radius: 8px;
    align-items: center; justify-content: center;
    font-size: 22px;
    display: flex;
    cursor: pointer;
}

.farmsContainer {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.farmsContainer > * { 
    background-color: var(--primaryDark2);
    border-radius: 8px;
    padding: 4px;
    display: flex;
    align-items: center;
}

.farmRight {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 12px;
}

.farmUpgradesContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.smallText {
    text-transform: uppercase;
    font-size: 9pt;
}

.propertiesDialog {
    width: 400px;
    height: 100vh;
    border-radius: 16px 0 0 16px;
    margin: 0 0 0 auto;
    background-color: hsl(0, 0%, 10%, 97%);
    max-height: 999999px;
}

.propertyDialogTopContainer {
    display: flex;
    align-items: center;
}

.propertyCloseButton {
    margin-left: auto;
    font-size: 28pt;

    cursor: pointer;
}

.propertyDividerLine {
    height: 2px;
    background-color: var(--shade6);
    margin-top: 4px;
}

.configTabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 75px;
}

.configTabs > div {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.configTabs > .activeTab {
    background-color: var(--primaryDark2);
    box-shadow: 0px 0px 10px rgba(0, 199, 133, 0.5);
    border: 1px solid var(--primaryDark1);
    
}

.configTabs > div > img {
    position: absolute;
    height: 50px;
    transition: 0.5s;
}

.configTabs > .activeTab > img {
    position: absolute;
    height: 70px;
}

.simConfigSection {
    padding: 0 8px;
    display: grid;
    gap: 8px;
}

.simConfigSection > .configTitle > h4,
.titleWithOptions > h4 {
    margin-bottom: 4px;
}

.simConfigSection > .configTitle > .horizontalLine {
    margin-bottom: 0;
}

.titleWithOptions {
    display: grid;
    grid-template-columns: auto auto;
}

.titleWithOptions > .options {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 4px;
}

.simConfigSection > .setting {
    display: grid;
    grid-template-columns: auto auto;
}

.simConfigSection > .setting > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.simConfigSection > .setting > div:nth-child(2) {
    justify-content: end;
}

.simConfigSection > .setting > div > input {
    width: 100px;
}

.shadedSection {
    background-color: var(--primaryDark2);
    border-radius: 8px;
    padding: 8px;
}

.contentSection {
    display: grid;
    gap: 8px;
}

.simConfigSection > .gap {
    height: 8px;
}

.tab {
    display: none;
    gap: 16px;
}

.showTab {
    display: grid;
}