:root {
    --primary1: #E6F3EF; 
    --primary2: #DAF3EA;
    --primary3: #C2F3E2;
    --primary4: #92F3D3;

    --primary5: #00F3A3;

    --primary6: #3DCC9D;
    --primary7: #267F62;
    --primary8: #134032;

    --secondary1: #FFFFFF;
    --secondary2: #F2F2F2; 
    --secondary3: #E6E6E6;
    --secondary4: #D8D8D8;
    --secondary5: #B3B3B3;
    --secondary6: #696969;
    --secondary7: #404040;
    --secondary8: #000000;

    --primaryTower1: #E6EEF2;
    --primaryTower3: #C1E2F2;
    --primaryTower5: #49B9F2;
    --primaryTower6: #3688B3;
    --primaryTower7: #26607F;

    --militaryTower1: #DFE6DB;
    --militaryTower3: #C7E6B8;
    --militaryTower5: #7BE646;
    --militaryTower7: #447F27;

    --magicTower1: #EBE8F3;
    --magicTower3: #D3C2F3;
    --magicTower5: #9160F3;
    --magicTower7: #4C337F;
    --magicTower8: #261A40;

    --supportTower1: #E6E6DB;
    --supportTower3: #E6E6B8;
    --supportTower5: #E6E644;
    --supportTower7: #7F7F26;

    --heroes5: #F3AB48;
    --heroes3: #F3DEC2;
}

html {
	font-family: "Roboto";
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    @media (prefers-color-scheme: dark) {
        background-color: var(--secondary8);
    }
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

h1, h2, h3, h4, h5, button {
    font-family: "Luckiest Guy";
    font-weight: 100;
    color: var(--secondary8);
    @media (prefers-color-scheme: dark) {
        color: var(--secondary1);
    }
}

h6, p, ul {
    font-family: "Roboto";
    font-weight: 100;
    padding: 4px;
}

h5, h6 {
    color: var(--secondary8);
    @media (prefers-color-scheme: dark) {
        color: var(--secondary1);
    }
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 15px;
}

p, ul {
	font-size: 14px;
    color: var(--secondary7);
    @media (prefers-color-scheme: dark) {
        color: var(--secondary2);
    }
}

ul {
    padding-left: 20px;
}

button, select {
    background-color: var(--primary5);
    @media (prefers-color-scheme: dark) {
        color: var(--secondary8);
    };
	border-radius: 8px;
	border: 0;
	cursor: pointer;
    font-size: 16px;
    transition-duration: 0.3s;
    margin-top: 8px;
}
button:hover, button:focus {
    background: var(--primary3);
    color: var(--secondary7);
    transition-duration: 0.3s;
}

main {
    display: grid;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

header {
    display: flex; 
    justify-content: center; 
    background-color: var(--primary2);
    @media (prefers-color-scheme: dark) {
        background-color: var(--primary8);
    };
}

.headerDiv {
    flex: 1; 
    display: flex; 
    padding: 8px; 
    max-width: 1000px; 
    flex-wrap: wrap;
}

.selectedButton {
    background-color: transparent;
    @media (prefers-color-scheme: dark) {
        color: var(--secondary1);
    };
}

.lighterText {
    color: var(--secondary7)
}

.highlightText {
    color: var(--primary7)
}

.primaryTowerButton {
    background-color: var(--primaryTower5);
}
.primaryTowerButton:hover, .primaryTowerButton:focus {
    background: var(--primaryTower3);
}

.militaryTowerButton {
    background-color: var(--militaryTower5);
}
.militaryTowerButton:hover, .militaryTowerButton:focus {
    background: var(--militaryTower3);
}

.magicTowerButton {
    background-color: var(--magicTower5);
    color: var(--secondary2);
}
.magicTowerButton:hover, .magicTowerButton:focus {
    background: var(--magicTower3);
}

.supportTowerButton {
    background-color: var(--supportTower5);
}
.supportTowerButton:hover, .supportTowerButton:focus {
    background: var(--supportTower3);
}

.heroesButton {
    background-color: var(--heroes5);
}
.heroesButton:hover, .heroesButton:focus {
    background: var(--heroes3);
}
.discordButton {
    background-color: rgb(104, 66, 229);
    color: var(--secondary2);
}
.discordButton:hover, .discordButton:focus {
    background-color: rgb(255, 255, 255);
}

.popup {
    background-color: var(--secondary2);
    border-radius: 8px;
    margin: 8px;
    max-width: 600px;
    flex: 1
}

.popupHeader {
    background-color: var(--primary5);
    padding: 8px;
    margin: 0;
    border-radius: 8px 8px 0 0;
    display: flex; align-items: center;
}

.popupTitle {
    display: flex; justify-content: center; 
    margin-right: auto; margin-left: auto;
    @media (prefers-color-scheme: dark) {
        color: var(--secondary8);
    }
}

.popupContent {
    padding: 8px;
    max-height: 400px;
    overflow-y: auto;
    @media (prefers-color-scheme: dark) {
        background-color: var(--secondary8);
    }
}

.popupDiv {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.borderBox {
    border-radius: 8px;
    border-color: var(--secondary2);
    border-width: 1px;
    margin: 8px;
    padding: 8px;
    border-style: solid;
}

.borderBoxCompact {
    border-radius: 8px;
    border-color: var(--secondary5);
    border-width: 1px;
    padding: 4px;
    border-style: solid;
}

.roundedBox {
    background-color: var(--secondary2);
    @media (prefers-color-scheme: dark) {
        background-color: var(--secondary7);
    }
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
}

.roundedBoxCompact {
    background-color: var(--secondary2);
    @media (prefers-color-scheme: dark) {
        background-color: var(--secondary7);
    }
    border-radius: 8px;
    padding: 8px;
}

.sectionStyle {
    margin: 8px;
}

.horizontalLine {
    height: 1px;
    margin: 0 0 8px 0;
    background-color: var(--secondary4);
}

.verticalLine {
    width: 1px;
    background-color: var(--secondary4);
}

.gap {
    height: 8px;
}

.flexItems1 {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.flexItems1 > * {
    flex: 2;
    flex-basis: 300px;
}

.banner {
    width:100%; 
    border-radius: 8px;
}

@media (max-width: 600px) {
    .wideBanner {
        display: none
    }
}

@media (min-width: 600px) {
    .normalBanner {
        display: none
    }
}

@media (width: 600px) {
    .wideBanner {
        display: block
    }
}

.discordSection {
    background-color: rgb(218, 209, 248);
    @media (prefers-color-scheme: dark) {
        background-color: rgb(80, 68, 118);
    }
}

.icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin: 0px;
}