:root {
    --primaryTowersLight: hsl(200, 62%, 81%);
    --primaryTowersPrimary: hsl(200, 87%, 62%);
    --primaryTowersDark: hsl(201, 58%, 49%);
    --primaryTowersDark2: hsl(200, 70%, 30%);
    --primaryTowersDark3: hsl(200, 64%, 15%);

    --militaryLight: hsl(98, 18%, 88%);
    --militaryPrimary: hsl(100, 63%, 51%);
    --militaryDark: hsl(100, 53%, 46%);
    --militaryDark2: hsl(100, 68%, 26%);
    --militaryDark3: hsl(100, 64%, 15%);

    --magicLight: hsl(256, 49%, 85%);
    --magicPrimary: hsl(260, 86%, 66%);
    --magicDark: hsl(260, 49%, 49%);
    --magicDark2: hsl(260, 43%, 26%);
    --magicDark3: hsl(260, 43%, 15%);

    --supportLight: hsl(60, 18%, 88%);
    --supportPrimary: hsl(60, 54%, 51%);
    --supportDark: hsl(60, 58%, 42%);
    --supportDark2: hsl(60, 68%, 26%);
    --supportDark3: hsl(60, 64%, 15%);

    --heroesLight: hsl(34, 67%, 86%);
    --heroesPrimary: hsl(35, 88%, 62%);
    --heroesDark: hsl(35, 58%, 49%);
    --heroesDark2: hsl(35, 68%, 26%);
    --heroesDark3: hsl(35, 64%, 15%);

    --track-item-primaryLight: hsl(323, 100%, 75%);
    --track-item-primary: hsl(323, 100%, 44%);
    --track-item-dark: hsl(323, 100%, 25%);

    --status-primaryLight: hsl(270, 100%, 70%);
    --status-primary: hsl(270, 100%, 55%);
    --status-dark: hsl(270, 100%, 30%);

    --income-primaryLight: hsl(58, 100%, 45%);
    --income-primary: hsl(58, 100%, 38%);
    --income-dark: hsl(58, 100%, 26%);

    --subattack-primaryLight: hsl(190, 100%, 50%);
    --subattack-primary: hsl(190, 100%, 45%);
    --subattack-dark: hsl(190, 100%, 21%);

    --transluscent-background: hsla(0, 0%, 0%, 0.2);
    --transluscent-background-hover: hsla(0, 0%, 0%, 0.4);

    --upgrade-selector-node-height: 26px;
    --upgrade-selector-node-width: 18px;

    --tower-card_image_area_width: 132px;
}

.standardPageFrame {
    /* display: flex;
    flex-direction: column;
    align-items: normal; */
}

#uiContent {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

/* Main Screen */
.categoriesContainer {
    display: flex;
    flex-direction: column;
    gap: var(--margin-m);
}

.categoryContainer {
    display: flex;
    gap: var(--margin-xl);
    border-radius: var(--bradius);
    padding: var(--margin-m);
}
@media (max-width: 900px) {
    .categoryContainer {
        flex-direction: column;
        gap: var(--margin-s);
    }
}

.primaryCategoryContainer {
    background: linear-gradient(
        90deg,
        var(--primaryTowersDark),
        var(--primaryTowersDark2)
    );
}
.militaryCategoryContainer {
    background: linear-gradient(
        90deg,
        var(--militaryDark),
        var(--militaryDark2)
    );
}
.magicCategoryContainer {
    background: linear-gradient(
        90deg,
        var(--magicDark),
        var(--magicDark2)
    );
}
.supportCategoryContainer {
    background: linear-gradient(
        90deg,
        var(--supportDark),
        var(--supportDark2)
    );
}
.heroesCategoryContainer {
    background: linear-gradient(
        90deg,
        var(--heroesDark),
        var(--heroesDark2)
    );
}

.primaryCategoryTitle {
    text-shadow: 4px 4px 0px var(--primaryTowersDark2);
}
.primaryCategorySubtitle {
    text-shadow: 2px 2px 0px var(--primaryTowersDark2);
}
.militaryCategoryTitle {
    text-shadow: 4px 4px 0px var(--militaryDark2);
}
.militaryCategorySubtitle {
    text-shadow: 2px 2px 0px var(--militaryDark2);
}
.magicCategoryTitle {
    text-shadow: 4px 4px 0px var(--magicDark2);
}
.magicCategorySubtitle {
    text-shadow: 2px 2px 0px var(--magicDark2);
}
.supportCategoryTitle {
    text-shadow: 4px 4px 0px var(--supportDark2);
}
.supportCategorySubtitle {
    text-shadow: 2px 2px 0px var(--supportDark2);
}
.heroesCategoryTitle {
    text-shadow: 4px 4px 0px var(--heroesDark2);
}
.heroesCategorySubtitle {
    text-shadow: 2px 2px 0px var(--heroesDark2);
}

.categoryTitleContainer {
    min-width: 180px;
}
.categoryDividingLine {
    width: 4px;
    transform: scaleX(0.5);
    background-color: var(--white);
}
@media screen and (max-width: 900px) {
    .categoryDividingLine {
        width: auto;
        height: 4px;
        transform: scaleY(0.5);
        margin-bottom: var(--margin-s);
    }
}

.categoryContainerTowerCardContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: var(--margin-m);
}
@media screen and (max-width: 1100px) {
    .categoryContainerTowerCardContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 650px) {
    .categoryContainerTowerCardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 370px) {
    .categoryContainerTowerCardContainer {
        grid-template-columns: 1fr;
    }
}

.categoryContainerTowerCard {
    background-color: var(--transluscent-background);
    padding: var(--margin-s);
    border-radius: var(--bradius);
    width: 100%;
    height: calc(50px + (var(--margin-s) * 2));
    display: flex;
    gap: var(--margin-l);
    box-sizing: border-box;
    transition: var(--transition-time);
    cursor: pointer;
    position: relative;
}

.categoryContainerTowerCardTitleContainer {
    overflow: hidden;
}

.categoryContainerTowerCardTitle {
    text-shadow: 2px 2px 0px var(--primaryTowersDark2);
}

.categoryContainerTowerCardPortrait {
    align-self: center;
    height: 50px;
    transform: scale(1.3);
    margin-left: auto;
    aspect-ratio: auto;
    transition: var(--transition-time);
    position: absolute;
    right: 12px;
    z-index: 1;
}

.categoryContainerTowerCard:hover {
    transform: translateX(-5px);
    .categoryContainerTowerCardPortrait {
        transform: scale(1.6);
    }
}

/* Popology Tower Display */

.towerDisplayNavbar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-m);
    height: 24px;
}

.towerSections {
    display: flex;
    flex-direction: column;
    gap: var(--margin-m);
}

.towerBanner {
    border-radius: var(--bradius);
    min-height: 120px;
    background-color: var(--dark2);
    padding: var(--margin-m);
    background: linear-gradient(
        135deg, hsla(281, 90%, 38%, 0.5), hsla(325, 100%, 30%, 0.5)
    );
    display: flex;
    flex-direction: column;
}

.bannerBottomText {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1;
}

.moduleContainer {
    display: flex;
    flex-direction: column;
    gap: var(--margin-m);
}

.module {
    border-radius: var(--bradius);
    min-height: 75px;
    background-color: var(--dark2);
    padding: var(--margin-m);
    background: linear-gradient(135deg, var(--moduleBackground1), var(--moduleBackground2));
    transition: 
        --moduleBackground1 var(--transition-time),
        --moduleBackground2 var(--transition-time);
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.towerPropertiesModule {
    min-height: 0px;
}

.secondaryModuleStyle {
    background: linear-gradient(135deg, var(--moduleBackground2), var(--moduleBackground1));
    --moduleBackground1: hsl(0, 0%, 15%);
    --moduleBackground2: hsl(0, 0%, 15%);
}

.moduleDividingLine {
    height: 2px;
    background-color: var(--gray);
    width: auto;
    transform: scaleY(0.5);
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: var(--margin-s);
}

.moduleDividingLineHover {
    position: absolute; 
    width: 0%;
    height: 100%;
    transition: var(--transition-time);
}

.moduleTitle {
    font: var(--h4)
}

.moduleName {
    font-style: oblique 14deg;
}

.moduleStatContainer {
    display: flex;
    flex-direction: column;
    gap: var(--margin-s);
}

@property --moduleBackground1 {
    syntax: '<color>';
    initial-value: hsl(0, 0%, 22%);
    inherits: false;
}
  
@property --moduleBackground2 {
    syntax: '<color>';
    initial-value: hsl(0, 0%, 22%);
    inherits: false;
}

.module:hover > .moduleDividingLine > .moduleDividingLineHover {
    width: 100%;
}

.attackModule:hover {
    --moduleBackground1: hsl(161, 25%, 27%);
    --moduleBackground2: hsl(159, 45%, 19%);
}

.attackModule:hover > .moduleDividingLine > .moduleDividingLineHover {
    background-color: var(--primary);
}

.trackItemModule:hover {
    --moduleBackground1: hsl(323, 13%, 27%);
    --moduleBackground2: hsl(324, 41%, 23%);
}

.trackItemModule:hover > .moduleDividingLine > .moduleDividingLineHover {
    background-color: var(--track-item-primary);
}

.statusModule:hover {
    --moduleBackground1: hsl(270, 10%, 26%);
    --moduleBackground2: hsl(271, 41%, 27%);
}

.statusModule:hover > .moduleDividingLine > .moduleDividingLineHover {
    background-color: var(--status-primary);
}

.incomeModule:hover {
    --moduleBackground1: hsl(56, 11%, 28%);
    --moduleBackground2: hsl(58, 60%, 20%);
}

.incomeModule:hover > .moduleDividingLine > .moduleDividingLineHover {
    background-color: var(--income-primary);
}

.subattackModule:hover {
    --moduleBackground1: hsl(190, 12%, 28%);
    --moduleBackground2: hsl(190, 62%, 21%);
}

.subattackModule:hover > .moduleDividingLine > .moduleDividingLineHover {
    background-color: var(--subattack-primary);
}

.attackModule > .moduleTitle > .moduleType {
    color: var(--primaryLight);
}

.trackItemModule > .moduleTitle > .moduleType {
    color: var(--track-item-primaryLight);
}

.statusModule > .moduleTitle > .moduleType {
    color: var(--status-primaryLight);
}

.incomeModule > .moduleTitle > .moduleType {
    color: var(--income-primaryLight);
}

.subattackModule > .moduleTitle > .moduleType {
    color: var(--subattack-primaryLight);
}

.submoduleContainer {
    display: flex;
    flex-direction: column;
    gap: var(--margin-s);
}

.configPanel {
    border-radius: var(--bradius);
    padding: var(--margin-s);
    background-color: var(--dark2);
    display: flex;
}

.towerUpgradeSelector {
    position: relative;
    border-radius: var(--bradius);
    background-color: var(--dark3);
}

.pathTrack {
    width: calc(6 * var(--upgrade-selector-node-width));
    height: var(--upgrade-selector-node-height);
    background-color: var(--dark1);
    border-radius: var(--bradius);
}

.pathTrackContainer, .numberOverlay, .upgradeSelectorVisual {
    display: flex;
    flex-direction: column;
    padding: var(--margin-s);
    gap: var(--margin-s);
}

.path {
    display: flex;
    height: var(--upgrade-selector-node-height);
}

.upgradeNode {
    font: var(--p);
    margin: 0 var(--margin-xs);
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition-time);
}

.selectedNode {
    color: var(--black);
}

.upgradeSelectorVisual {
    position: absolute;
    top: 0; left: 0;
    width: calc(100% - 2 * var(--margin-s));
    height: calc(100% - 2 * var(--margin-s));
}

.numberOverlay {
    position: absolute;
    top: 0; left: 0;
}

.upgradeSelectorVisual > .path {
    width: calc(10px + 2 * var(--margin-xs));;
    background-color: var(--primary);
    border-radius: var(--bradius);
    transition: var(--transition-time);
    height: 36px;
}

.position0 {
    margin-left: 0px;
}

.position1 {
    margin-left: var(--upgrade-selector-node-width);
}

.position2 {
    margin-left: calc(2 * var(--upgrade-selector-node-width));
}

.position3 {
    margin-left: calc(3 * var(--upgrade-selector-node-width));
}

.position4 {
    margin-left: calc(4 * var(--upgrade-selector-node-width));
}

.position5 {
    margin-left: calc(5 * var(--upgrade-selector-node-width));
}

.statContainer {
    display: flex;
    padding: var(--margin-s);
    background-color: var(--transluscent-background);
    border-radius: var(--bradius);
    gap: var(--margin-m);
    transition: var(--transition-time);
    cursor: pointer;
}

.statContainer:hover {
    background-color: var(--transluscent-background-hover);
    /* transform: scale(1.05) */
}

.statChipContainer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-s);
}

.statDividingLine {
    width: 2px;
    transform: scaleX(0.5);
    height: auto;
    background-color: var(--gray);
    margin: 2px 0;
}

.secondaryStatsContainer {
    display: flex;
    flex-direction: row;
    gap: var(--margin-l);
    flex-wrap: wrap;
}

.statTitleContainer {
    display: flex;
    align-items: center;
    gap: var(--margin-l);
}

.statIcon {
    margin-left: auto;
    height: 22px;
    transition: var(--transition-time);
}

.statContainer .statGroup h4, .statContainer .statGroup p {
    transition: var(--transition-time);
}

/* .statContainer:hover .statGroup h4, .statContainer:hover .statGroup p {
    transform: scale(1.02);
} */

.statContainer:hover .statGroup .statIcon {
    /* transform: scale(1.2); */
    transform: scale(1.25) translate(-5%, 0%);
}

/* Tower Info */
.towerInfoContainer {
    display: flex;
    flex-direction: column;
    gap: var(--margin-m);
}

.towerNavBar {
    display: flex;
    flex-direction: column;
    /* gap: var(--margin-s); */
}

.towerNavBarTitleContainer {
    display: flex;
    gap: var(--margin-s);
    align-items: center;
}

.towerNavBarTitleContainerText {
    min-width: max-content;
}

.towerNavBarTitleContainerLine {
    background-color: var(--light3);
    width: 100%;
    height: 2px;
}

.towerNavBarButtonContainerWrapper {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.towerNavBarButtonContainer {
    display: flex;
    gap: var(--margin-s);
    overflow-x: auto;
    scroll-behavior: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: var(--margin-s) 0;
}

.towerNavBarButtonContainer::-webkit-scrollbar {
    display: none;
}

.towerNavBarButton {
    border-radius: var(--bradius);
    padding: var(--margin-s);
    background-color: var(--dark2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--margin-s);
    cursor: pointer;
    transition: var(--transition-time);
    min-width: 60px;
    aspect-ratio: 1;
}

.towerNavBarButtonImage {
    height: 100%;
    transform: scale(1.25);
    transition: var(--transition-time);
    pointer-events: none;
}

.towerNavBarButton:hover > .towerNavBarButtonImage {
    transform: scale(1.75);
}


.towerInfoBanner {
    padding: var(--margin-m);
}

.towerCard {
    position: relative;
    /* min-height: 10px; */
    height: calc(120px - (2 * var(--margin-m)));
    display: grid;
    grid-template-columns: 132px auto auto;
    grid-template-rows: auto 1fr;
    gap: var(--margin-s);
    padding: var(--margin-m) 0;
}

.towerTitleContainer {
    grid-column: 1 / 4;
    background: linear-gradient(45deg, hsl(271, 69%, 40%), hsl(271, 70%, 30%));
    display: grid;
    grid-template-columns: 132px 1fr;
    border-radius: var(--bradius);
    padding: var(--margin-xs);
    height: min-content;
}

.towerTitle {
    grid-column: 2;
}

.towerPortraitContainer {
    position: absolute;
    top: 0px; left: 12px;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: hsla(126, 100%, 65%, 0.5); */
}

.towerPortrait {
    max-height: 100%;
    max-width: 100%;
    /* background-color: hsla(294, 100%, 65%, 0.5); */
}

.towerCardChipContainer {
    grid-column: 2;
    display: flex;
    align-items: start;
    gap: var(--margin-s);
}

.towerCardChip {
    background-color: var(--dark1);
    border-radius: var(--bradius);
    padding: var(--margin-xs);
    /* background-color: hsla(294, 100%, 65%, 0.5); */
}

.towerButtonsContainer {
    grid-column: 2 / 4;
    /* background-color: red; */
    display: flex;
    gap: var(--margin-m);
    align-items: start;
    justify-content: start;
}

.towerNavButton {
    background-color: var(--dark1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--margin-xs);
    padding: var(--margin-xs);
}

.towerNavButton > span {
    font-size: 20px;
}

/* Overlays */
.propertyInfoOverlayWrapper {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: var(--margin-xl);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.propertyInfoOverlay {
    background-color: var(--dark1);
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 800px;
    border-radius: var(--bradius);
    padding: var(--margin-l);
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: var(--margin-s);
}