.path-selector-container {
  flex: 0 0 auto;
  white-space: nowrap;
}

.path-selector-button-dom {
	background-color: #22AA66;
}

.path-selector-button-sub {
	background-color: #556B55;
}

.path-selector-button-reg {
	background-color: #555555;
}

.path-selector-container button {
	margin: 0 0 6px 6px;
}

.path-selector-container img {
	height: 48px;
}
