:root {
  --background-primary: #DDDDDD;
  --background-secondary: #FFFFFF;
  --background-thirdary: #EEEEEE;
  --background-red: #DDAAAA;
  --background-purple: #CC99CC;
  --header-primary: #000000;
  --header-secondary: #222222;
  --text-common: #000000;
  --text-light: #FFFFFF;
  --text-red: #FF9999;
  --text-purple: #FFCCFF;
  --outline-default: #111111;
  --outline-dark: #111111;
  --outline-orange: #DD9944;
  --outline-blue: #4499DD;
  --outline-red: #FF0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #333333;
    --background-secondary: #666666;
    --background-thirdary: #555555;
    --background-purple: #664B66;
    --background-red: #665252;
    --header-primary: #FFFFFF;
    --header-secondary: #BBBBBB;
    --text-common: #FFFFFF;
    --text-light: #EEEEEE;
    --text-red: #FF9999;
    --text-purple: #FFCCFF;
    --outline-default: #CCCCCC;
    --outline-dark: #111111;
    --outline-orange: #CC6622;
    --outline-blue: #2266CC;
    --outline-red: #FF0000;
  }
}

h1, h2, h3, h4, h5, h6 {
  paint-order: stroke fill;
}

h1 {
  -webkit-text-stroke: 8px black;
  color: white;
  font-size: 40px;
  font-family: Luckiest Guy;
  font-weight: bold;
}

h2 {
  color: var(--header-secondary);
  font-size: 28px;
  font-family: Luckiest Guy;
  font-weight: bold;
}

h3 {
  color: var(--header-primary);
  font-size: 36px;
  font-family: "Gabarito";
  font-weight: bold;
}

h4 {
  color: var(--header-secondary);
  font-size: 28px;
  font-family: "Gabarito";
}

h5 {
  paint-order: stroke fill;
  color: var(--text-light);
  font-size: 22px;
  font-family: "Gabarito";
  -webkit-text-stroke: 4px var(--outline-dark);
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
}

.tower-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tower-view > div {
  width: 100%;
  max-width: 1600px;
}

.basics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.tower-container {
  flex: 1 1 600px;
  min-width: 600px;
  justify-content: center;
  text-align: center;
  background-color: var(--background-primary);
  padding: 16px 0 16px 0;
  margin: 4px 16px 16px 16px;
  border-radius: 16px;
}

@media (max-width: 632px) {
  .tower-container {
    flex: 1 1 400px;
    min-width: 400px;
  }
}

.upgrades-container {
  justify-content: center;
  text-align: center;
  background-color: var(--background-primary);
  padding: 16px 0 16px 0;
  margin: 4px 16px 16px 16px;
  border-radius: 16px;
}

.tower-image-container {
  background-color: var(--background-secondary);
  width: 512px;
  height: 256px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-radius: 16px;
}

@media (max-width: 600px) {
  .tower-image-container {
    width: 320px;
    height: 256px;
  }
}

.center-container {
  display: flex;
  justify-content: center;
}

.tower-image-container img {
  height: 110%;
  width: auto;
  margin-top: -16px;
}

.properties-container-styler {
  max-width: 1024px;
  min-width: 512px;
  padding: 4px 12px 4px 12px;
  margin: 4px 16px 8px 16px;
  background-color: var(--background-secondary);
  border-radius: 6px;
}

@media (max-width: 600px) {
  .properties-container-styler {
    max-width: 600px;
    min-width: 200px;
  }
}

.properties-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
}

.properties-container p {
  color: var(--text-common);
  font-size: 20px;
  font-family: "Gabarito";
  padding: 2px 8px 2px 8px;
}

.property-basic-value {
  background-color: var(--background-primary);
  border-radius: 4px;
}

.property-iconed-container img {
  height: 40px;
}

.property-iconed-container div {
  background-color: var(--background-secondary);
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
}

.property-iconed-container p {
  color: var(--text-common);
  font-size: 20px;
  font-family: "Gabarito";
}


.property-footnote {
  text-align: left;
  white-space: pre-wrap;
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 8px;
  color: var(--text-common);
  font-family: "Gabarito";
}

@media (max-width: 600px) {
  p {
    font-size: 16px;
  }

  .properties-container p {
    font-size: 16px;
  }

  .property-iconed-container p {
    font-size: 16px;
  }

  .property-footnote {
    font-size: 16px;
  }

}

.property-unkeyed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-primary);
  border-radius: 3px;
  outline-width: 2px;
  outline-style: solid;
}

.property-unkeyed-container p {
  white-space: pre-wrap;
}

.inner-container {
  padding: 0 0 4px 0;
  margin: 4px 0 0 0;
  width: 98%;
}
