:root {
  --background-primary: #999999;
  --background-secondary: #CCCCCC;
  --header-primary: #000000;
  --header-secondary: #222222;
  --text-common: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #333333;
    --background-secondary: #666666;
    --header-primary: #FFFFFF;
    --header-secondary: #BBBBBB;
    --text-common: #FFFFFF;
  }
}

h1 {
  -webkit-text-stroke: 3px black;
  color: white;
  font-size: 40px;
  font-family: Luckiest Guy;
  font-weight: bold;
}

h2 {
  color: var(--header-secondary);
  font-size: 28px;
  font-family: Luckiest Guy;
  font-weight: bold;
}

h3 {
  color: var(--header-primary);
  font-size: 36px;
  font-family: "Gabarito";
  font-weight: bold;
}

h4 {
  color: var(--header-secondary);
  font-size: 28px;
  font-family: "Gabarito";
}

.tower-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tower-view > div {
  width: 100%;
  max-width: 1600px;
}

.tower-container {	
  text-align: center;
  background-color: var(--background-primary);
  padding: 16px 0 16px 0;
  margin: 16px 16px 16px 16px;
  border-radius: 16px;
}

.tower-image-container {
  background-color: var(--background-secondary);
  width: 512px;
  height: 256px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  border-radius: 16px;
}

.tower-image-container img {
  height: 110%;
  width: auto;
  margin-top: -16px;
}

.properties-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.properties-container p {
  color: var(--text-common);
  font-size: 20px;
  font-family: "Gabarito";
  padding: 4px 10px 4px 10px;
}

.properties-container-styler {
  max-width: 1024px;
  padding: 8px 16px 8px 16px;
  margin: 0 16px 8px 16px;
  background-color: var(--background-secondary);
  border-radius: 6px;
}

.property-basic-value {
  background-color: var(--background-primary);
  border-radius: 4px;
}

.property-iconed-container img {
  height: 40px;
}

.property-iconed-container div {
  background-color: var(--background-secondary);
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
}

.property-iconed-container p {
  color: var(--text-common);
  font-size: 20px;
  font-family: "Gabarito";
}

.center-container {
  display: flex;
  justify-content: center;
}

.property-footnote {
  text-align: left;
  white-space: pre-wrap;
  font-size: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 8px;
  color: var(--text-common);
  font-family: "Gabarito";
}

.property-unkeyed-container {
  max-width: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444444;
  border-radius: 3px;
}

.property-unkeyed-container p {
  white-space: pre-wrap;
}

.outline-orange {
  outline: 2px solid orange;
}

.outline-blue {
  outline: 2px solid #2288BB;
}
