.randomizerContainer {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin-top: 8px;
}

main {
    display: flex;
    flex-direction: column;
}