:root {
	--primaryColorLight3: rgb(218 227 243);
	--primaryColorLight2: rgb(180 199 231);
	--primaryColorLight1: rgb(143 170 220);
	--primaryColorMain: rgb(68 114 196);
	--primaryColorDark1: rgb(47 85 151);
	--primaryColorDark2: rgb(32 56 100);
	--militaryColorLight3: rgb(226 240 217);
	--militaryColorLight2: rgb(197 224 180);
	--militaryColorLight1: rgb(169 209 142);
	--militaryColorMain: rgb(112 173 71);
	--militaryColorDark1: rgb(84 130 53);
	--militaryColorDark2: rgb(56 87 35);
	--magicColorLight3: rgb(227 209 241);
	--magicColorLight2: rgb(199 162 227);
	--magicColorLight1: rgb(171 116 213);
	--magicColorMain: rgb(112 48 160);
	--magicColorDark1: rgb(84 36 120);
	--magicColorDark2: rgb(56 24 80);
	--supportColorLight3: rgb(255 242 204);
	--supportColorLight2: rgb(255 230 153);
	--supportColorLight1: rgb(255 217 102);
	--supportColorMain: rgb(255 192 0);
	--supportColorDark1: rgb(191 144 0);
	--supportColorDark2: rgb(127 96 0);
	--heroesColorLight3: rgb(251 229 214);
	--heroesColorLight2: rgb(248 203 173);
	--heroesColorLight1: rgb(224 177 131);
	--heroesColorMain: rgb(237 125 49);
	--heroesColorDark1: rgb(197 90 17);
	--heroesColorDark2: rgb(132 60 12);
	
	--maxContentWidth: 1200px;
}

html {
	font-family: "Roboto";
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 30px;
	font-weight: 100;
	font-family: "Luckiest Guy";
	margin: 0;
	padding: 5px;
}

h2 {
	font-size: 26px;
	font-weight: 100;
	font-family: "Luckiest Guy";
	margin: 0;
	padding: 5px;
}

h3 {
	font-size: 24px;
	font-weight: 100;
	font-family: "Luckiest Guy";
	margin: 0;
	padding: 5px;
}

h4 {
	font-size: 20px;
	font-weight: 100;
	font-family: "Luckiest Guy";
	margin: 0;
	padding: 5px;
}

h5 {
	font-size: 18px;
	font-weight: 100;
	font-family: "Luckiest Guy";
	margin: 0;
	padding: 5px;
}

h6 {
	font-size: 15px;
	font-weight: 100;
	font-family: "Luckiest Guy";
	margin: 0;
	padding: 5px;
}

p {
	font-size: 14px;
	font-weight: 100;
	font-family: "Roboto";
	margin: 0;
	padding: 5px;
}

li {
		font-size: 14px;
		font-weight: 100;
		font-family: "Roboto";
		margin: 0;
}

section {
	max-width: var(--maxContentWidth);
	margin: 10px auto;
}

header, footer {
	background-color: var(--primaryColorLight3);
}

footer {
	margin-top: auto
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding-left: 25px;
}

.blackLinks {
	color: black;
}

.push {
	margin-left: auto;
}

.flex {
	display: flex;
	flex-wrap: nowrap;
}

.grid {
	display: grid;
}

.alignTop {
	align-items: start;
}

.alignMid {
	align-items: center;
}

.alignBot {
	align-items: end;
}

.flexWrap {
	display: flex;
	flex-wrap: wrap;
}	

.autofit > * {
	flex: auto
}

.gap {
	gap: 10px;
}

.pageHeader {
	min-height: 50px;
	padding: 5px 10px;
	max-width: 1200px;
	@media screen and (min-width: 1220px) {
		padding-left: calc((100vw - var(--maxContentWidth)) / 2);
		padding-right: calc((100vw - var(--maxContentWidth)) / 2);
	}
}

.button {
	background-color: rgb(225 225 225);
	border-radius: 10px;
	width: max-content;
	flex-shrink: 0;
	flex: 0 0 auto;
	border: 0;
	cursor: pointer;
}

.buttonContainer {
	display: flex;
	flex-wrap: nowrap;
	gap: 5px;
	overflow-x: auto;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.buttonContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.categoryBar {
	display: none;
}

.selectTower {
	display: none;
}

.primaryButtonStyle {
	color :black; 
	background-color: var(--primaryColorLight3);
}

.militaryButtonStyle {
	color: black; 
	background-color: var(--militaryColorLight3);
}

.magicButtonStyle {
	color: black; 
	background-color: var(--magicColorLight3);
}

.supportButtonStyle {
	color: black; 
	background-color: var(--supportColorLight3);
}

.heroesButtonStyle {
	color: black;
	background-color: var(--heroesColorLight3);
}

.primaryButtonStyle2 {
	color :black; 
	background-color: var(--primaryColorLight2);
}

.militaryButtonStyle2 {
	color: black; 
	background-color: var(--militaryColorLight2);
}	

.magicButtonStyle2 {
	color: black; 
	background-color: var(--magicColorLight2);
}

.supportButtonStyle2 {
	color: black; 
	background-color: var(--supportColorLight2);
}

.heroesButtonStyle2 {
	color: black;
	background-color: var(--heroesColorLight2);
}

.primaryButtonStyle3 {
	color :black; 
	background-color: var(--primaryColorLight1);
}

.militaryButtonStyle3 {
	color: black; 
	background-color: var(--militaryColorLight1);
}	

.magicButtonStyle3 {
	color: black; 
	background-color: var(--magicColorLight1);
}

.supportButtonStyle3 {
	color: black; 
	background-color: var(--supportColorLight1);
}

.heroesButtonStyle3 {
	color: black;
	background-color: var(--heroesColorLight1);
}

.consecutiveText {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.significantprimary {
	color: var(--primaryColorMain);
}

.significantmilitary {
	color: var(--militaryColorMain);
}

.significantmagic {
	color: var(--magicColorMain);
}

.significantsupport {
	color: var(--supportColorMain);
}

.primarySection {
	border-radius: 10px;
	background-color:var(--primaryColorLight3);
	padding: 10px;
	gap: 10px;
}

.militarySection {
	border-radius: 10px;
	background-color:var(--militaryColorLight3);
	padding: 10px;
	gap: 10px;
}

.magicSection {
	border-radius: 10px;
	background-color:var(--magicColorLight3);
	padding: 10px;
	gap: 10px;
}

.supportSection {
	border-radius: 10px;
	background-color:var(--supportColorLight3);
	padding: 10px;
	gap: 10px;
}

.heroesSection {
	border-radius: 10px;
	background-color: var(--heroesColorLight3);
	padding: 10px;
	gap: 10px;
}

.primaryInfoCard {
	margin: 5px 0;
	border-radius: 10px;
	background-color:var(--primaryColorLight2);
	padding: 5px;
}

.militaryInfoCard {
	margin: 5px 0;
	border-radius: 10px;
	background-color:var(--militaryColorLight2);
	padding: 5px;
}

.magicInfoCard {
	margin: 5px 0;
	border-radius: 10px;
	background-color:var(--magicColorLight2);
	padding: 5px;
}

.supportInfoCard {
	margin: 5px 0;
	border-radius: 10px;
	background-color:var(--supportColorLight2);
	padding: 5px;
}

.primaryInfoCard2 {
	margin: 5px 0;
	border-radius: 10px;
	background-color: var(--primaryColorLight1);
	padding: 5px;
}

.largeStatNumbers {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.largeNumber {
	 font-size: 24px;
}

.upgradeButton {
	display: flex;
	flex-wrap: nowrap;
	padding: 5px 10px;
	height: 60px;
	align-items: center;
	gap: 10px;
}

.upgradeIcon {
	height: 50px;
}

.upgradeButtonText {
	padding: 0;
}

.towerPortraitContainer {
	height: 150px;
	width: 200px;
	display: flex;
	justify-content: center;
}

.towerPortrait {
	height: auto;
	width: auto;
	object-fit: scale-down;
	/*object-fit: contain;*/
	margin: 0 auto;
	position: relative;
	display: flex;
}
@media screen and (max-width: 650px) {
	.towerPortraitContainer {
		display: none;
	}
}
.statHeader {
	margin-top: 5px;
	align-items: end;
	padding-bottom: 0;
}
