:root {
    --primaryLight3: hsl(161, 61%, 82%);
    --primaryLight2: hsl(160, 56%, 74%);
    --primaryLight1: hsl(160, 61%, 64%);
    --primary: hsl(160, 100%, 39%);
    --primaryDark1: hsl(160, 100%, 31%);
    --primaryDark1b: hsl(160, 100%, 28%);
    --primaryDark2: hsl(160, 100%, 26%);
    --primaryDark2b: hsl(160, 100%, 20%);
    --primaryDark3: hsl(160, 100%, 15%);

    --shade1: hsl(0, 0%, 100%);
    --shade2: hsl(0, 0%, 95%);
    --shade2_5: hsl(0, 0%, 85%);
    --shade3: hsl(0, 0%, 76%);
    --shade4: hsl(0, 0%, 60%);
    --shade5: hsl(0, 0%, 40%);
    --shade6: hsl(0, 0%, 24%);
    --shade6_5: hsl(0, 0%, 16%);
    --shade7: hsl(0, 0%, 10%);
    --shade7_5: hsl(0, 0%, 6%);
    --shade8: hsl(0, 0%, 0%);

    --primaryTower1: #E6EEF2;
    --primaryTower3: #afd8ec;
    --primaryTower5: #49B9F2;
    --primaryTower6: #3688B3;
    --primaryTower7: #26607F;

    --militaryTower1: #DFE6DB;
    --militaryTower3: #b2e996;
    --militaryTower5: #7BE646;
    --militaryTower7: #447F27;

    --magicTower1: #EBE8F3;
    --magicTower3: #D3C2F3;
    --magicTower5: #9160F3;
    --magicTower7: #4C337F;
    --magicTower8: #261A40;

    --supportTower1: #E6E6DB;
    --supportTower3: #e6e6ac;
    --supportTower5: #E6E644;
    --supportTower7: #7F7F26;

    --heroes3: #F3DEC2;
    --heroes5: #F3AB48;
    --heroes7: #ac6e17;

    --winColor: hsl(128, 56%, 45%);
    --lossColorDark: hsl(0, 100%, 34%);
    --lossColorLight: hsl(0, 100%, 67%);
}

html {
	font-family: "Roboto";
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    @media (prefers-color-scheme: dark) {
        background-color: var(--shade8);
    }
}

.material-symbols-outlined {
    @media (prefers-color-scheme: dark) {
        color: var(--shade1);
    }
}

h1, h2, h3, h4, h5, h6, p, ul, select, button, table, thead, tbody, td {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, button, input, select, thead, .tableHead {
    font-family: "Gabarito";
    font-weight: 400;
    /* font-family: "Comic Neue";
    font-weight: 600; */
}

h1, h2, h3, h4, h5, h6, button, select, thead, .tableHead {
    color: var(--shade8);
    @media (prefers-color-scheme: dark) {
        color: var(--shade1);
    }
}

li, p {
    margin: 3px 0;
}

input {
    color: var(--shade8);
    outline-width: 0;
    border-radius: 8px;
    font-size: 14pt;
    border: none;
}

p, ul, td, th {
    font-family: "Roboto";
    font-weight: 100;
    /* font-family: "Comic Neue";
    font-weight: 400; */
    padding: 0px 0;
}

.largeText2 {
    font-size: 40pt;
}

.largeText1 {
    font-size: 36pt;
}

h1 {
	font-size: 30pt;
}

h2 {
	font-size: 24pt;
}

h3 {
	font-size: 22pt;
}

h4 {
	font-size: 18pt;
}

h5, thead, .tableHead {
	font-size: 16pt;
}

h6, select, button {
	font-size: 13pt;
}

.smallText {
    font-size: 10pt;
}

p, ul, tbody {
	font-size: 11pt;
    color: var(--shade7);
    @media (prefers-color-scheme: dark) {
        color: var(--shade2);
    }
}

ul {
    padding-left: 20px;
}

.chartCanvas {
    font-family: "Gabarito";
}

table {
    padding: 0;
}

td {
    padding: 4px 24px 4px 0
}

.tableHead {
    border-bottom: 2px solid var(--shade8);
}

.luckiestGuy {
    font-family: "Luckiest Guy";
    font-weight: 400;
}

.textShadow {
    @media (prefers-color-scheme: dark) {
        text-shadow: 2px 2px 8px var(--shade8);
    }
}

.slightTextEmphasis {
    color: var(--primaryDark2);
    @media (prefers-color-scheme: dark) {
        color: var(--primaryLight2);
    }
}

.italicEmphasis {
    font-style: italic;
}

select, button {
    background-color: var(--primaryLight2);
    @media (prefers-color-scheme: dark) {
        background-color: var(--primaryDark2);
    };
    border-radius: 8px;
    padding: 4px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

a > button > * {
    text-decoration: none !important;
}

button:hover {
    background-color: var(--primaryLight1);
    @media (prefers-color-scheme: dark) {
        background-color: var(--primaryDark1);
    };
    transition: 0.5s;
}

select {
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.inputUnderline {
    background-color: var(--primary);
    height: 100%; 
    width: 0%;
    margin-left: 50%;
    margin-right: 50%;
    transition: 0.2s;
}

input:focus + .inputUnderline {
    width: 100%;
    margin: 0;
    transition: 0.5s;
}

.headerStyle {
    background-color: var(--primaryLight3);
    @media (prefers-color-scheme: dark) {
        background-color: var(--primaryDark3);
    };
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.title {
    margin-right: 16px;
}

.headerContent {
    display: flex; gap: 16px; margin-left: auto;
    @media screen and (max-width: 700px) {
        display: none;
    }
    align-items: end;
}
.menuIcon {
    margin-left: auto;
    font-size: 36px;
    aspect-ratio: 1;
    display: flex;
    @media screen and (min-width: 701px) {
        display: none;
    }
    cursor: pointer;
}
.menu {
    border-color: var(--shade2);
    @media (prefers-color-scheme: dark) {
        background-color: var(--shade7);
    };
}
a {
    text-decoration: none;
}
.linkUnderline {
    text-decoration: underline 2px var(--primaryDark2);
    color: var(--primaryDark2);
    @media (prefers-color-scheme: dark) {
        text-decoration: underline 2px var(--primaryLight2);
        color: var(--primaryLight2)
    };
}

.buttonAnchor {
    text-decoration: none;
}

.menu > a > h3 {
    margin-bottom: 16px;
}
.menuHeader {
    display: flex;
    margin-bottom: 16px;
}
.menuClose {
    margin-left: auto;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 16px;   
}

.titleSection {
    padding: 8px;
}

.blankSection {
    padding: 12px;
    border-radius: 8px;
}

.roundedBoxSection {
    padding: 12px;
    border-radius: 8px;
    background-color: var(--shade2);
    @media (prefers-color-scheme: dark) {
        background-color: var(--shade7);
    }
}

.coverImage {
    opacity: .5; filter: blur(4px);
    width: 100%; height: 500px; 
    object-fit: cover; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

.playerCoverImage {
    opacity: .5; filter: blur(4px);
    width: 100%; height: 200px;
    object-fit: cover; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

.statsPageBody {
    max-width: 1500px; margin: 0 auto; padding: 16px;
}

.statsPageWrapper {
    position: absolute;
    width: 100%; 
    top: 0
}

.configurationBar {
    display: flex; 
    align-items: center;
    padding: 8px 12px;
    gap: 32px;
}

.configurationBarTextSelectorWrapper {
    display: flex; flex-direction: column; 
    gap: 4px; align-items: flex-start;
}

.horizontalLine {
    height: 1px;
    margin-bottom: 8px;
    background-color: var(--shade3);
    @media (prefers-color-scheme: dark) {
        background-color: var(--shade6);
    };
}

.thick {
    height: 2px;
    margin-top: 2px;
}

.strongLineStyle {
    background-color: var(--shade6);
    @media (prefers-color-scheme: dark) {
        background-color: var(--shade3);
    };
}

py-loader {
    display: none
}

py-script {
    color: var(--shade8);
    @media (prefers-color-scheme: dark) {
        color: var(--shade1);
    };
}

.mainStatsSection {
    display: flex; 
    flex-direction: column;
    gap: 16px;
}

.mainStatsFlex {
    display: flex;
    gap: 12px;
    align-items: start;
}

.towerSidebar {
    width: 200px
}

.towerPortraitWrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.towerPortrait {
    object-fit: contain;
    position: absolute;
    width: 150px;
    top: -100px;
}

.towerSidebarContent {
    position: relative;
    margin-top: 110px;
}

.coreTowerSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px
}

.standardTowerStatsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px
}

.infoBox {
    background-color: var(--shade2_5);
    @media (prefers-color-scheme: dark) {
        background-color: var(--shade6_5);
    };
    padding: 8px;
    border-radius: 8px;
    transition: 0.5s;
}
.infoBox:hover {
    background-color: var(--primaryLight3);
    @media (prefers-color-scheme: dark) {
        background-color: var(--primaryDark3);
    };
    transition: 0.5s;
}

.clanTableHeader {
    display: flex;
    align-items: end;
}
.clanTableSelect {
    margin-left: 24px;
}
.clanTableContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px
}

.gap {
    height: 8px
}

.clanPageContainer {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.titleSection {
    margin-bottom: 12px;
}

.clanGridContainer {
    margin: 8px 0
}

.clanRosterList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
    gap: 8px;
}

::backdrop {
    background-color: hsla(0, 0%, 50%, 50%)
}

dialog {
    border: none;
    border-radius: 8px;
    width: calc(100vw - 96px);
    max-width: 1400px;
    position: fixed;
    height: calc(100vh - 96px);
    max-height: 1000px;
    background-color: var(--shade2);
    @media (prefers-color-scheme: dark) {
        background-color: var(--shade7);
    };
}

.playerDataWindow {
    padding: 0;
    height: calc(100vh - 88px);
    width: calc(100vw - 88px);
}

.playerDataContent {
    padding: 16px;
    position: relative;
    top: -200px;
}

.playerDataWindowHeader {
    display: flex;
    margin-bottom: 8px;
}
.playerDataNameContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: end;
}
.closeButton, .menuClose {
    font-size: 36px;
    cursor: pointer;
}
.closeButtonContainer {
    margin-left: auto;
}
.simplePlayerDataContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: start;
}
.mainPlayerContent {
    display: flex;
    flex-direction: column;
    gap: 16px
}
.simplePlayerDataContainer > * {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
}
.b2lolButtonContainer {
    margin-left: auto;
}
.b2lolButton {
    display: flex;
    align-items: center;
}
.playerPFP {
    width: 30px;
    aspect-ratio: 1;
    background-size: contain;
}
.bigPlayerPFP {
    width: 36px;
    aspect-ratio: 1;
    background-size: contain;
    margin-right: 8px;
}
.matches, .towers, .badges {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    overflow: auto;
}

.badgeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    aspect-ratio: 1;
    padding: 8px;
    width: 100px;
    background-color: var(--shade2_5);
    @media (prefers-color-scheme: dark) {
        background-color: var(--shade6_5);
    };
}
.badgeBox > img {
    height: 64px
}

.matches > *, .playerDataBox {
    border-radius: 8px;
}
.playerDataBox {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--shade2_5);
    @media (prefers-color-scheme: dark) {
        background-color: var(--shade6_5);
    };
}
.greenText {
    color: var(--winColor)
}
.redText {
    color: var(--lossColor)
}
.lds-dual-ring {
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 16px;
    aspect-ratio: 1;
    margin: 0;
    border-radius: 50%;
    animation: lds-dual-ring 0.5s linear infinite;
    border: 6px solid var(--shade5);
    border-color: var(--shade5) var(--shade5) transparent transparent;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.clanWarsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.warSummaryBottom {
    width: 100px
}

.warSummaryBottom > button {
    margin-left: auto
}

.warSummaryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
    }
    gap: 16px;
}

.warSummaryContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.summaryLeaderboard {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.leaderboardRow {
    display: grid;
    grid-template-columns: 25px 1fr 1fr;
}

.clickableRow {
    cursor: pointer;
}

.noDataRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaderboardRow, .noDataRow {
    gap: 16px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--primaryLight3);
    @media (prefers-color-scheme: dark) {
        background-color: var(--primaryDark3);
    };
}

.highlightedRow {
    background-color: var(--primaryLight1);
    @media (prefers-color-scheme: dark) {
        background-color: var(--primaryDark1);
    };
}

.leaderboardRow > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.leaderboardRow > .right {
    align-items: end;
}

.mainPageContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    padding: 2px;
}
 
::-webkit-scrollbar-track {
    background: transparent;
    padding: 8px;
}
 
::-webkit-scrollbar-thumb {
    background: var(--primaryLight3);
    border-radius: 8px;
    margin: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--primaryLight2);
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        background: var(--primaryDark3);
    }
    ::-webkit-scrollbar-thumb:hover {
        background: var(--primaryDark2);
    }
}

.tournamentSection {
    background-color: hsl(32, 100%, 88%);
    @media (prefers-color-scheme: dark) {
        background-color: hsl(31, 100%, 16%);        
    };
}

.tournamentSectionLive {
    background-color: hsl(268, 100%, 88%);
    @media (prefers-color-scheme: dark) {
        background-color: hsl(268, 100%, 16%);        
    };
}

.tourneyInfoContainer {
    display: flex;
    align-items: end;
}

.tourneyInfoContainer > a, .tourneyInfoContainerLive > a {
    margin-left: auto;
}

.tourneyInfoContainerLive {
    display: flex;
    align-items: center;
}

.liveTag {
    /* background-color: red; */
    animation: liveAnimation 4s infinite;
    margin-left: 8px;
    padding: 4px;
    border-radius: 8px;
}


@keyframes liveAnimation {
    0% {background-color: hsl(0, 100%, 50%)}
    50% {background-color: hsl(0, 100%, 29%)}
    100% {background-color: hsl(0, 100%, 50%)}
}

.liveTournamentButton {
    display: flex;
    align-items: center;
    background-color: hsl(268, 100%, 80%);
    @media (prefers-color-scheme: dark) {
        background-color: hsl(268, 100%, 36%);        
    };
}

.liveTournamentButton:hover {
    background-color: hsl(268, 100%, 60%);
    @media (prefers-color-scheme: dark) {
        background-color: hsl(268, 100%, 50%);        
    };
}
.liveTournamentButton > h6 {
    transition: 0.5s;

}
.liveTournamentButton:hover > h6 {
    color: var(--shade1);
    transition: 0.5s;
}

.liveTournamentButton > span {
    margin-bottom: 4px;
}

.simpleHeaderSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px 0;
}

.simpleHeaderSection > .headerLine {
    height: 2px;
    width: 50%;
    margin: 12px 0 4px 0;
}

@media (prefers-color-scheme: dark) {
    .simpleHeaderSection > .headerLine {
        background-color: var(--primaryDark1);
    }
}
