.towerView {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizeSetter {
    display: block;
    justify-content: center;
}

.towerContainer {
    text-align: center;
	padding: 16px 0 16px 0;
    background-color: #333333;
    border-radius: 16px;
    margin: 16px 32px 8px 32px;
}

.towerName {
	-webkit-text-stroke: 3px black; 
	color: white;
	font-size: 40px;
	font-family: Luckiest Guy;
	font-weight: bold;
}

.upgradeName {
	padding-bottom: 8px;
	color: #BBBBBB;
	font-size: 28px;
	font-family: Luckiest Guy;
	font-weight: bold;
}

.towerImgContainer {
	background-color: #666666;
	margin-bottom: 8px;
	border-radius: 16px;
	width: 70%;
	margin: auto;
	margin-bottom: 8px;
	height: 256px;
}

.towerImg {
	height: 110%;
	width: auto;
    margin-top: -16px;
}

.iconedStats {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	flex-wrap: wrap;
}

.iconedStatImg {
	height: 40px;
	width: auto;
	margin-right: 8px;
}

.iconedStatBox {
	background-color: #666666;
	border-radius: 8px;
	padding: 4px 8px 4px 8px;
	margin-right: 8px;
}

.iconedStatText {
	color: white;
	font-size: 20px;
	font-family: "Gabarito";
	font-weight: bold;
	white-space: nowrap;
}

.headerAttacks {
	margin-left: 48px;
	margin-bottom: 6px;
	font-size: 36px;
	font-family: "Gabarito";
	font-weight: bold;
	white-space: nowrap;
}

.attackName {
	margin-bottom: 8px;
	margin-left: 48px;
	font-size: 28px;
	color: #CCCCCC;
	font-family: "Gabarito";
	white-space: nowrap;
}

p {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.grayBox {
	padding: 8px 16px 8px 16px;
	margin-left: 48px;
	margin-right: 48px;
	margin-bottom: 16px;
	background-color: #666666;
    border-radius: 6px;
}

.attackStatContainer {
	display: flex;
	flex-wrap: wrap;
    gap: 16px;
}

.attackStatContainer p {
	font-size: 20px;
	padding: 4px 12px 4px 12px;
	font-family: "Gabarito";
}

.attackStat {
	text-align: center;
	background-color: #333333;
	border-radius: 4px;
}

.footnote {
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 20px;
	font-family: "Gabarito";
}
