.tournamentsTitleSection {
    position: relative;
}

.tournamentsTitleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.tournamentsText, .tournamentsSubheader {
    color: var(--shade1);
}

.tournamentsSubheader {
    text-shadow: 2px 2px 2px rgba(0, 199, 133, 1);
    @media screen and (max-width: 700px) {
        font-size: 18pt;
    }
}

.greenShadow {
    text-shadow: 2px 2px 4px rgba(0, 199, 133, 1);
}

.tournamentsText {
    text-shadow: 4px 4px 4px rgba(0, 199, 133, 1);
    font-size: 48pt;
    @media screen and (max-width: 700px) {
        font-size: 32pt;
    }
}

.allTournamentsContainer {
    margin-top: 16px;
}

.allTournamentsHeader {
    display: flex;
    align-items: center;

}

.allTournamentsSortingDropdownContainer {
    margin-left: auto;
}

.allTournaments {
    display: grid;
    gap: 16px;
    margin-top: 12px;
}

.allTournaments > * {
    height: 200px;
    /* background-color: var(--primaryDark3); */
    border-radius: 8px;
}

.tournamentCard {
    position: relative;
}

.tournamentCardContent {
    position: absolute;
    display: grid;
    grid-template-rows: auto auto 1fr;
    top: 0;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    padding: 12px;
    /* display: flex; */
    /* flex-direction: column; */
}

.tournamentButtonContainer {
    display: flex;
    gap: 12px;
    /* height: 110px; */
    flex-wrap: wrap;
    /* align-items: end; */
    align-content: flex-end;
}

.challongeButton {
    background-color: rgb(255, 204, 109);
    color: var(--shade8)
}
.challongeButton:hover {
    background-color: rgb(255, 165, 0);
}
@media (prefers-color-scheme: dark) {
    .challongeButton {
        background-color: rgb(255, 165, 0);
        color: var(--shade8)
    }
    .challongeButton:hover {
        background-color: rgb(255, 204, 109);
    }
}

.youtubeButton {
    background-color: rgb(255, 174, 174);
    color: var(--shade8)
}
.youtubeButton:hover {
    background-color: rgb(255, 128, 128);
}
@media (prefers-color-scheme: dark) {
    .youtubeButton {
        background-color: rgb(255, 0, 0);
        color: var(--shade1)
    }
    .youtubeButton:hover {
        background-color: rgb(255, 79, 79);
    }
}

.twitchButton {
    background-color: rgb(210, 161, 255);
    color: var(--shade8)
}
.twitchButton:hover {
    background-color: rgb(186, 130, 238);
}
@media (prefers-color-scheme: dark) {
    .twitchButton {
        background-color: rgb(138, 43, 226);
        color: var(--shade1)
    }
    .twitchButton:hover {
        background-color: rgb(164, 92, 231);
    }
}

.importantContentContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    /* justify-items: stretch; */
    min-height: 100px;
}

.importantContentBox {
    
    flex: auto
}

.importantContent {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    background-color: green;
    border-radius: 8px;
    padding: 12px;
}

.importantContent > .horizontalLine {
    width: 150px;
    margin-bottom: 0px;
}