.tournamentsContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nextTournamentSection {
    background-color: var(--primary-tournament-color);
    border-radius: 8px;
    position: relative;
    min-height: 350px;
    /* height: max-content; */
    display: flex;
    justify-content: end;
    margin-top: 8px;
}

.nextTournamentBackgroundImg {
    background-image: url('/media/background_rough.png');
    background-size: cover;
    width: 50%;
    background-position: center;
    /* height: 100%; */
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 0 8px 8px 0;
    /* filter: blur(4px); */
}

.rightSideContentOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    @media (prefers-color-scheme: dark) {
        background-color: rgba(0, 0, 0, 0.5);
    };
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 16px;
}

.viewTournamentButton {
    background-color: var(--light-tournament-color);
    @media (prefers-color-scheme: dark) {
        background-color: var(--dark-tournament-color);
    };
}

.viewTournamentButton:hover {
    background-color: var(--primary-tournament-color);
    @media (prefers-color-scheme: dark) {
        background-color: var(--primary-tournament-color);
    };
}

.nextTournamentContentOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
}

.tournamentTitle {
    text-shadow: 4px 4px 0px var(--primary-tournament-color);
    @media (prefers-color-scheme: dark) {
        text-shadow: 4px 4px 0px var(--secondary-tournament-color);
    };
}

.textHighlight {
    color: var(--dark-tournament-color);
    @media (prefers-color-scheme: dark) {
        color: var(--light-tournament-color);
    };
}

.textShadow {
    text-shadow: 2px 2px 8px var(--primary-tournament-color);
    @media (prefers-color-scheme: dark) {
        text-shadow: 2px 2px 8px black;
    }
}

.tournamentProgressContainer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    gap: 8px;
}

.progressBarContainer {
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: relative;
    height: 16px;
    border-radius: 999px;
}

.progressBar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--primary-tournament-color);
    border-radius: 999px;
    width: 5%;
}

.detailsContainer {
    margin-top: 12px;
}

@media screen and (max-width: 700px) {
    .nextTournamentBackgroundImg {
        width: 100%;
        clip-path: none;
        border-radius: 8px;
        opacity: 0.5;
    }

    .nextTournamentSection {
        background-color: var(--shade1);
        @media (prefers-color-scheme: dark) {
            background-color: var(--shade8);
        };
    }

    .nextTournamentContentOverlay {
        width: 100%;
    }
}

.signupButtonSection, .linkToEloSection {
    display: flex;
    flex-direction: column;
    background-color: var(--shade2);
    @media (prefers-color-scheme: dark) {
        background-color: var(--shade7);
    };
    padding:  16px 8px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    gap: 8px;
}

.signupButtonSection *, .linkToEloSection * {
    text-align: center;
}

.signupButtonContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    gap: 12px;
    justify-content: center;
}

.externalTournamentLink {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--light-tournament-color);
    @media (prefers-color-scheme: dark) {
        background-color: var(--secondary-tournament-color);
    };
}

.externalTournamentLink:hover {
    background-color: var(--primary-tournament-color);
    @media (prefers-color-scheme: dark) {
        background-color: var(--primary-tournament-color);
    };
}

.socialsSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

@media screen and (max-width: 500px) {
    .socialsSection {
        grid-template-columns: 1fr;
    }
}

.socialsSection > * > * {
    height: 100px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--primary-tournament-color);
    transition: 0.2s ease-in-out;
    @media (prefers-color-scheme: dark) {
        background-color: var(--dark-tournament-color);
    };
}
.socialsSection > * > * > * {
    color: white;
    transition: 0.2s ease-in-out;
}
.socialsSection > * > *:hover > * {
    transform: scale(1.05);
}

.twitchContainer:hover {
    background-color: hsl(264, 100%, 64%)
}
.discordContainer:hover {
    background-color: hsl(235, 86%, 65%);
}
.youtubeContainer:hover {
    background-color: hsl(0, 100%, 50%);
}