.minorVersionTitle {
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

.minorVersionSummaryContainer {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;   
}

.hideSection {
    display: none;
}

.patchGap {
    height: 8px;
}